# Configuración propia de U-Boot para cargar la PL antes de arrancar Linux.
CONFIG_BOOTDELAY=-2
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="echo Cargando bitstream TFG desde la SD; mmc dev 0; if fatload mmc 0:1 0x10000000 tfg_zedboard_bd_wrapper.bit; then fpga loadb 0 0x10000000 ${filesize}; else echo No se pudo cargar tfg_zedboard_bd_wrapper.bit; fi; run distro_bootcmd"
