# Vivado/Vitis generated
*.jou
vivado.log
*.str
*.pb
*.Xil/
.Xil/
.cache/
.hw/
.ip_user_files/
.gen/
.runs/
.sim/
srcs/
component.xml
NA/
sw/vitis/workspace

# Build artifacts
build/
output/
tmp/
sw/buildroot/*.tar.gz

# Generic
*.swp
*~
.DS_Store

# Vivado project-specific generated directories
hw/vivado/tfg_zedboard/tfg_zedboard.cache/
hw/vivado/tfg_zedboard/tfg_zedboard.gen/
hw/vivado/tfg_zedboard/tfg_zedboard.hw/
hw/vivado/tfg_zedboard/tfg_zedboard.ip_user_files/
hw/vivado/tfg_zedboard/tfg_zedboard.runs/
hw/vivado/tfg_zedboard/tfg_zedboard.sim/
hw/vivado/tfg_zedboard/tfg_zedboard.srcs/

guia-practica-tfg-zedboard-20-04.pdf
